<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex culpa maiores aliquam unde distinctio expedita tenetur quidem atque reiciendis rem vero fugiat veniam non, quos laboriosam dolorem obcaecati cum nobis id! Neque et repudiandae sint ullam cumque dicta corporis unde tempora sapiente, at quas quo laborum recusandae eligendi itaque officia.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex culpa maiores aliquam unde distinctio expedita tenetur quidem atque reiciendis rem vero fugiat veniam non, quos laboriosam dolorem obcaecati cum nobis id! Neque et repudiandae sint ullam cumque dicta corporis unde tempora sapiente, at quas quo laborum recusandae eligendi itaque officia.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex culpa maiores aliquam unde distinctio expedita tenetur quidem atque reiciendis rem vero fugiat veniam non, quos laboriosam dolorem obcaecati cum nobis id! Neque et repudiandae sint ullam cumque dicta corporis unde tempora sapiente, at quas quo laborum recusandae eligendi itaque officia.</p>
  </div>
  
  <%- include('./partials/footer.ejs') %>
  
</body>
</html>